@media screen and (min-width: 1280px) {
  .intro {
    max-width: 984px;
    min-width: 984px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 984px;
    min-width: 928px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin: 0 24px 88px 24px;

  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    margin: 0 16px 64px 16px;
  }
}
